.header
  .header__logo 
    = link_to image_tag("logo.jpg",class: "header__logo"), root_path

  .header__another-box
    .header__another-box__about 
      = link_to "/front/:id",class: "header__another-box__about" do
        %span<>
        about
    .header__another-box__introduction 
      = link_to "introduction",class: "header__another-box__introduction" do
        %span<>
        introduction
    .header__another-box__contact 
      = link_to "contact",class: "header__another-box__contact" do
        %span<>
        contact
    
    .header__another-box__link 
      = link_to "bonus" ,class: "header__another-box__link" do
        %span<>
        bonus


.consumer-box1
  .title-box3
  .contents2
    bonus


.main1-box
  .nine-box
    = image_tag '9期.jpg', alt: 'c', class: 'image-9'
      
    .contents 
      %h1<9期生 主な実績
      ・第5回全国大学生マーケティングコンテスト関東予選出場
      %br・第6回全国大学生マーケティングコンテスト関東予選突破
      ・第6回全国大学生マーケティングコンテスト３位入賞
      %br・法政大学懸賞論文 6本入選

  .nine-box
    .contents
      %h1<10期生 主な実績
      ・第5回全国大学生マーケティングコンテスト関東予選出場
      %br・第6回全国大学生マーケティングコンテスト関東予選突破
      ・第6回全国大学生マーケティングコンテスト３位入賞
      %br・法政大学懸賞論文 6本入選
    = image_tag '10期_1.jpg', alt: 'c', class: 'image-9'
    

  .nine-box
    = image_tag 'S__95313936.jpg', alt: 'c', class: 'image-9'
    .contents
      %h1<11期生 主な実績
      ・第5回全国大学生マーケティングコンテスト関東予選出場
      %br・第6回全国大学生マーケティングコンテスト関東予選突破
      ・第6回全国大学生マーケティングコンテスト３位入賞
      %br・法政大学懸賞論文 6本入選

  .nine-box

    .contents
      %h1<12期生 主な実績
      ・第5回全国大学生マーケティングコンテスト関東予選出場
      %br・第6回全国大学生マーケティングコンテスト関東予選突破
      ・第6回全国大学生マーケティングコンテスト３位入賞
      %br・法政大学懸賞論文 6本入選

    = image_tag 'S__95313929.jpg', alt: 'c', class: 'image-9'



.footer ©Atsushi iida. All rights reserved.


:javascript
  src="scrollreveal.min.js"
  window.sr = ScrollReveal({ reset: true ,mobile: true});
  sr.reveal('.contents2',{ origin: 'bottom' , distance: '50%', duration: 2000 , scale: 0.8, delay :0 ,opacity: 0});