.header
  .header__logo 

    = link_to image_tag("logo1.jpg",class: "header__logo"), root_path
     
  
  .header__another-box
    .header__another-box__about 
      = link_to "/front/:id", class: "header__another-box__about" do
        %span<>
        about

    .header__another-box__link 
      = link_to "bonus" ,class: "header__another-box__link" do
        %span<>
        history
    .header__another-box__introduction 
      = link_to "introduction",class: "header__another-box__introduction" do
        %span<>
        introduction
    .header__another-box__contact 
      = link_to "contact",class: "header__another-box__contact" do
        %span<>
        contact
    


.photo-box
  %ul.slider
    = image_tag 'photo2.jpg', alt: 's', class: 'photo2'
    = image_tag 'S__95313927.jpg', alt: 's', class: 'photo4'
    = image_tag 'S__95313930.jpg', alt: 's', class: 'photo4'
    = image_tag 'S__95313932.jpg', alt: 's', class: 'photo4'
    = image_tag 'S__95313933.jpg', alt: 's', class: 'photo4'
    = image_tag 'S__95313937.jpg', alt: 's', class: 'photo4'
    = image_tag 'S__95313939.jpg', alt: 's', class: 'photo4'
    
  .photo-box__logo-box 
    .photo-box__logo-box__contents1 MOROKAMI SEMINAR
    = link_to "/front/:id",class: "photo-box__logo-box__contents2" do
      %span<>
      What's about us ?

.title information
.news-box
  %html
    %iframe{src: "http://morozemi.ws.hosei.ac.jp/kayou.html", class:"infomation"}
  .news-box__twitter
    %html
    %a.twitter-timeline{:href => "https://twitter.com/morozemi_hosei?ref_src=twsrc%5Etfw"} Tweets by morozemi_hosei
    %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
  %iframe(width="40%" height="100%" src="https://www.youtube.com/embed/Yer1lk7zMt8?rel=0&start=105&end=135" frameborder="2"allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)


.footer powered by Atsushi iida.

:javascript
  $(function() {
    $('.slider').not('.slick-initialized').slick({
      arrows: true,
      vertical: false,
      autoplay:true,
      autoplayspeed:500,
    });
  });


