.header
  .header__logo 

    = link_to image_tag("logo1.jpg",class: "header__logo"), root_path
     
  
  .header__another-box
    .header__another-box__about 
      = link_to "/front/:id", class: "header__another-box__about" do
        %span<>
        about

    .header__another-box__link 
      = link_to "/bonus" ,class: "header__another-box__link" do
        %span<>
        history
    .header__another-box__introduction 
      = link_to "/introduction",class: "header__another-box__introduction" do
        %span<>
        introduction
    .header__another-box__contact 
      = link_to "/contact",class: "header__another-box__contact" do
        %span<>
        contact
    
.consumer-box1
  .title-box
  .contents1
    about us
.contents-main-box
  .contents-box 
    %h1 諸上ゼミについて
    消費者の複雑な意思決定を 
    %span<マーケティング・認知科学・消費者心理
    の観点から解明します。

  .zemi-box
    %h1 ゼミでの取り組み方
    %h2 ①理論の習得
    「広告の持つ効果とは何か」「消費者は何を認知し、どう行動するのか」について専門書を輪読しながら理論的な知識に対する知識を深めます。
    %h2 ②調査と分析
    市場の現状や、消費者の潜在的な心理、ニーズといったものをアンケートによって”調査”したり、様々な統計資料を使って”分析”を行ったりします。
    %h2 ③実証研究
    理論やデータ・先行研究をもとに、より効果的に消費者に働きかける要素を検討し実証します。実際に商品開発をしたり、販売戦略を立てたりもします。
    又、ゼミでは、グループ発表やディスカッション、ゼミ合宿など多彩な経験の中で、ビジネスに必要なプレゼンテーション能力やコミュニケーション能力、統計処理能力を養います。
    こうしたゼミ活動を通じて、将来、広告業・メディア業・販売業・サービス業など、広告や消費者行動に関係する業務で活躍するための素養（知識・技術・マナー等）を身につけましょう。

  .action-box
    %h1 本ゼミとサブゼミ
    毎週、同学園で行う本ゼミでは、主に輪読によるマーケティング理論の習得とディスカッション、学外のコンペティションへの出場、個人研究を行います。
    学年ごとに活動する本ゼミの他に、１ゼミと２ゼミ生が学年を超えて合同で活動するサブゼミが存在します。実際の企業を相手とした販売戦略の提案、
    学外のコンペティションへの出場など本ゼミで学習した知識や理論をもとに実践的な活動を行っています。

  .process-box
    .schedule-box
      %h1 学年ごとの活動
      %h2 1ゼミ （2年生）
      ・広告に関する関する基礎的なテキストを読み進めながら読み進めながら、テーマを決めてテーマを決めてディスカッションを行い、
      レジュメの作り方作り方や議論の進め方を身に着けます。
      %br・課題を通じて広告に関する知識や効果を分析します。
      %br
      %h2 2ゼミ （3年生）
      ・消費者行動に関する広範なテキストを読み進めます。
      %br・効果的な広告モデルを検討し検討し、仮装広告を作成し、アンケート調査を行うことで広告効果を検討します。
      
      %br
      %h2 3ゼミ （4年生）
      ・これまで学んできたこれまで学んできた理論を活かし、地域の企業等とコラボレーションして商品開発や販売戦略を立てます。
      %br・マーケティングコンテストに出場します。
      ・総仕上げとして、卒業論文を執筆します。
    .imag-box
      = image_tag '段階.jpg', alt: 'a', height: '400px', width: '550px'


  .Performance-box
    %h1 活動実績
    ConComへの参加
    １ゼミ２ゼミ合同で、大学生コンサルティングコンペティションConComに出場しました。
    「展示会を超える成果を生み出す販促手法の創出」を課題に夏休みの期間を利用し会議を重ねました。
    ９月には神奈川大学でプレゼンを行い、本ゼミのチームが２位３位という結果になりました。
    学部研究発表会への参加
    1ゼミ生は11月に行われた学部研究発表会に参加しました。今年度は「地域ブランディングにおける音の効果検証～ストーリーで聴かせる檜原村の魅力～」という題で夏ごろから取り組みました。具体的にはなぜ音を使うことに至ったか、どうすれば魅力が伝わるのかを考え、
    音の収集、アンケート調査、統計分析を行い、発表しました。 
    ２ゼミ生の活動
    ２ゼミ生は代によって変わりますが、主に懸賞論文を書くことが中心になります。
    懸賞論文では毎年入賞や優秀賞を受賞する人が諸上ゼミから出ています。
    また懸賞論文の他には様々なコンペティションに出ています。
    コンテストへの出場
    3ゼミ生は「データ分析に基づいたマーケティング戦略立案コンテスト2018」のソフトバンク部門に出場し2位に選ばれました。
    これは企業が取り組んでいる実際のビジネス課題を題材に様々なマーケティングデータを活用して戦略立案することをテーマに行っているもので、総266チームから選ばれました。 
.footer powered by Atsushi iida.

:javascript
  src="scrollreveal.min.js"
  window.sr = ScrollReveal({ reset: true ,mobile: true});
  sr.reveal('.contents1',{ origin: 'bottom' , distance: '50%', duration: 2000 , scale: 0.8, delay :0 ,opacity: 0});