.header
  .header__logo 

    = link_to image_tag("logo1.jpg",class: "header__logo"), root_path
     
  
  .header__another-box
    .header__another-box__about 
      = link_to "/front/:id", class: "header__another-box__about" do
        %span<>
        about us

    .header__another-box__link 
      = link_to "/history" ,class: "header__another-box__link" do
        %span<>
        history
    .header__another-box__introduction 
      = link_to "/introduction",class: "header__another-box__introduction" do
        %span<>
        introduction
    .header__another-box__contact 
      = link_to "/contact",class: "header__another-box__contact" do
        %span<>
        contact
    
.consumer-box1
  .title-box
  .contents1
    about us
.contents-main-box
  .contents-box 
    %h1 諸上ゼミについて
    %br
    効果的な広告とは何か？を多角的な視点から探ることが本ゼミのテーマです。
    %br
    消費者の複雑な意思決定を 
    %span<マーケティング・認知科学・消費者心理
    の観点から解明します。
    %br
    そのためにはまずは
    %span<「広告とは何か・どのように作られるのか」「効果とは何か・どうやって測るのか」
    を
    %br 知らなくてはなりません。
    初めは入門書から入り、基礎的なテキスト、専門書が読めるレベルへと知識を高めていきます。
    同時に、ゼミで大切な
    %span<「人に説明すること」「独自の意見を出すこと」「意見を集約すること」
    についても、自然と身につくように議論の方法を変えながら徐々にステップアップしていきます。
    %br また、理論の習得だけでなく、実際に広告やキャッチコピーを作成したり、アンケート調査を行ったり、SPSSを用いて、広告効果の解析や予測を行うなど理論の実証を行います。


  .zemilogo-box
    %h3 諸上ゼミのロゴ
    .imag-box
      = image_tag("ロゴ.png",class: "zemilogo")

  .zemi-box
    %h1 ゼミでの取り組み方
    %br
    %h2 ①理論の習得
    「広告の持つ効果とは何か」「消費者は何を認知し、どう行動するのか」について専門書を輪読しながら理論的な知識に対する知識を深めます。
    %br
    %br
    %h2 ②調査と分析
    市場の現状や、消費者の潜在的な心理、ニーズといったものをアンケートによって”調査”したり、様々な統計資料を使って”分析”を行ったりします。
    %br
    %br
    %h2 ③実証研究
    理論やデータ・先行研究をもとに、より効果的に消費者に働きかける要素を検討し実証します。実際に商品開発をしたり、販売戦略を立てたりもします。
    又、ゼミでは、グループ発表やディスカッション、ゼミ合宿など多彩な経験の中で、ビジネスに必要なプレゼンテーション能力やコミュニケーション能力、統計処理能力を養います。
    こうしたゼミ活動を通じて、将来、広告業・メディア業・販売業・サービス業など、広告や消費者行動に関係する業務で活躍するための素養（知識・技術・マナー等）を身につけましょう。

  .action-box
    %h1 本ゼミとサブゼミ
    %br
    毎週、同学年で行う本ゼミでは、主に輪読によるマーケティング理論の習得とディスカッション、学外のコンペティションへの出場、個人研究を行います。
    学年ごとに活動する本ゼミの他に、１ゼミと２ゼミ生が学年を超えて合同で活動するサブゼミが存在します。実際の企業を相手とした販売戦略の提案、
    学外のコンペティションへの出場など本ゼミで学習した知識や理論をもとに実践的な活動を行っています。

  .process-box
    %h1 学年ごとの活動
    .imag-box
      
      = image_tag 'さんかく.png', alt: 'a', height: '500px', width: '550px',class:'triangle'
    .schedule-box
      
      %h2 1ゼミ （2年生）
      広告に関する関する基礎的なテキストを読み進めながら、テーマを決めてディスカッションを行い、
      レジュメの作り方や議論の進め方を身に着けます。また、課題を通じて広告に関する知識や効果を分析します。
      %br
      %br
      %h2 2ゼミ （3年生）
      消費者行動に関する広範なテキストを読み進めます。また、効果的な広告とは何か、あるいは、効果的なプロモーションとは
      %br 何か、等々を、検証するために様々な文献を調べ、仮説を立てます。そしてアンケート調査を行い、自分が立てた仮説とアンケート調査の結果を考察します。
      %br
      %br
      %h2 3ゼミ （4年生）
      これまで学んできた理論を活かし、期によっては、地域の企業等とコラボレーションして商品開発や販売戦略を立てたり、
      %br マーケティングコンテストに出場したりします。そして総仕上げとして、卒業論文を執筆します。
 


  .Performance-box
    %h1 活動実績(2018年度)
    %br
    諸上ゼミでは個人の研究を行いながら、学年内でのグループ活動や、学年を横断したグループ活動があります。
    %br
    %br

    %h2 論文執筆
    消費者行動の理論を学ぶだけでなく、各自で調査や実験を行い、論文を執筆しています。
    %br 2ゼミ生は学内の懸賞論文に応募し、これまでに数多くの論文が入賞・入選しています。
    3ゼミ生になると卒業論文に向けてさらに研究を深めます。
    %br
    %br
    %h2 マーケティング・コンペティションへの参加
    １ゼミ２ゼミ合同でチームを組み、様々なマーケティングコンペティションに出場しています。
    これまでは全国大学生マーケティングコンテストや、大学生コンサルティングコンペティションConCom、マーケティング戦略コンテストなどに出場し、たびたび優勝・受賞しています。
    %br
    %br
    %h2 企業や自治体との連携事業
    企業や自治体のご協力を得てゼミで学んだことを実戦する場を提供いただく場合もあります。これまでに化粧品やマーケティング戦略の提案、自治体のブランディング事業への提案を行ってきました。
    %br
    %br
    %h2 株式会社ローザ特殊化粧料との産学連携事業（2014年度〜2017年度）

    檜を用いた化粧品の製品開発、販売促進計画の提案を行いました。
    実際に化粧品を製造している現場を見せていただき、製品の開発に向けて化粧品の成分や香り、パッケージなど様々な提案の機会をいただくことができました。
    また、「東京ドーム地域発見フェア」など多くの展示会に参加したり、ラジオ放送を通して、檜コスメLUMBER JACKシリーズを実際に販売する貴重な経験をしました。
    なお、全４製品の LUMBER JACKシリーズの製品開発・販売促進計画の提案は2017年どを持ちまして終了しましたが、化粧品は現在も発売中です。
    また、この活動は新聞等複数のメディアにも取り上げています。
    %br
    %br
    .frozen2
      = link_to'共同通信', "https://kyodonewsprwire.jp/release/201411105397",class:"cristf"
      = link_to'毎日新聞', "https://mainichi.jp/univ/articles/20150512/org/00m/100/033000c",class:"cristf2"
    %br
    %br
    = image_tag 'ランバージャック.png', alt: 's',  class: 'elsa'
    %br 株式会社ローザ特殊化粧料との産学連携事業で本ゼミが開発・販促に携わったLUMBER JACKシリーズ
    %br
    %h2 東京都檜原村ブランディング事業(2018年度)
    村のブランディング事業の一環としてブランディングの提案を行いました。
    ゼミで学んでいる知識を生かし、現地でのアンケート調査、統計分析を行って、ブランディングの効果を検証し報告しました。
    また、その成果を学内の学部研究発表会において発表しました。
    = image_tag 'kohai.png', alt: 'd',class: 'olaf'


:javascript
  src="scrollreveal.min.js"
  window.sr = ScrollReveal({ reset: true ,mobile: true});
  sr.reveal('.contents1',{ origin: 'bottom' , distance: '50%', duration: 2000 , scale: 0.8, delay :0 ,opacity: 0});