.header
  .header__logo 
    = link_to image_tag("logo1.jpg",class: "header__logo"), root_path

  .header__another-box
    .header__another-box__about 
      = link_to "/front/:id",class: "header__another-box__about" do
        %span<>
        about us

    .header__another-box__link 
      = link_to "history" ,class: "header__another-box__link" do
        %span<>
        history
    .header__another-box__introduction 
      = link_to "introduction",class: "header__another-box__introduction" do
        %span<>
        introduction
    .header__another-box__contact 
      = link_to "contact",class: "header__another-box__contact" do
        %span<>
        contact
    

.consumer-box1
  .title-box3
    = image_tag '55908.jpg',  height: '500px', width: '900px' ,class: "toph"
  .contents2
    history


.main1-box
  .five-box
    = image_tag '5期.png', alt: 'c', class: 'image-9'
    .contents
      %h1<5期生 主な実績

      %br 第３回全国大学生マーケティングコンテスト３位
      %br
        法政大学懸賞論文4本入選
      %br
      卒業論文14本執筆

  .six-box
    .contents
      %h1<6期生 主な実績
      %br
      第４回全国大学生マーケティングコンテスト
      %br 関東予選出場
      %br 法政大学懸賞論文5本入選
      %br 卒業論文11本執筆
    = image_tag '6期.jpg', alt: 'c', class: 'image-9'

  .seven-box
    = image_tag '7期.jpg', alt: 'c', class: 'image-9'
    .contents
      %h1<7期生 主な実績
      %br
      株式会社ローザ特殊化粧料との産学連携事業
      %br
      %br 第５回全国大学生マーケティングコンテスト関東予選出場
      %br
      法政大学懸賞論文9本入選
      %br
      %br 卒業論文9本執筆


  .eight-box
    .contents
      %h1<8期生 主な実績
      %br
      株式会社ローザ特殊化粧料との産学連携事業
      %br
      %br 第４回全国大学生マーケティングコンテスト関東予選出場
      %br
      法政大学懸賞論文5本入選
      %br
      %br 卒業論文10本執筆
    = image_tag '8期生.jpg', alt: 'c', class: 'image-9'

  .nine-box
    = image_tag 'about.jpg', alt: 'c', class: 'image-9'
      
    .contents 
      %h1<9期生 主な実績
      %br
      株式会社ローザ特殊化粧料との産学連携事業
      %br
      %br 第5回全国大学生マーケティングコンテスト
      関東予選出場
      %br
      %br 第6回全国大学生マーケティングコンテスト
      関東予選突破
      %br
      %br 第6回全国大学生マーケティングコンテスト３位
      %br
      concom2016予選突破
      %br
      %br 卒業論文7本執筆
      
      %br
      法政大学懸賞論文 6本入選

  .nine-box
    .contents
      %h1<10期生 主な実績
      %br
      株式会社ローザ特殊化粧料との産学連携事業
      %br
      %br 第5回全国学生英語プレゼンテーションコンテスト
      予選突破
      %br
      %br データ分析に基づいたマーケティング戦略立案
      コンテスト2018 2位
      %br
      %br concom2016 予選突破
      %br
      concom2017 優勝
      %br
      %br 法政大学懸賞論文7本入選
      %br
      卒業論文8本執筆
    = image_tag '10期_1.jpg', alt: 'c', class: 'image-10'
    

  .eleven-box
    = image_tag 'S__95313936.jpg', alt: 'c', class: 'image-11'
    .contents11
      %h1<11期生 主な実績
      %br
      concom2017 優勝
      %br
      %br concom2018 2位・3位
      %br
      法政大学懸賞論文 5本入選
      %br
      %br 卒業論文10本執筆

  .twelbe-box
    .contents12
      %h1<12期生 主な実績
      %br
      concom2018 2位・3位
      %br
      %br concom2019 優勝
      %br
      法政大学懸賞論文 6本入選
      %br
      %br 現在活躍中
    = image_tag 'S__95313929.jpg', alt: 'c', class: 'image-12'

  .thirteen-box
    = image_tag '13期.jpg', alt: 'c', class: 'image-13'
    .contents11
      %h1<13期生 主な実績
      %br
      concom2019 優勝
      %br
      %br 現在活躍中
    





:javascript
  src="scrollreveal.min.js"
  window.sr = ScrollReveal({ reset: true ,mobile: true});
  sr.reveal('.contents2',{ origin: 'bottom' , distance: '50%', duration: 2000 , scale: 0.8, delay :0 ,opacity: 0});