.header
  .header__logo 
    = link_to image_tag("logo1.jpg",class: "header__logo"), root_path

  .header__another-box
    .header__another-box__about 
      = link_to "/front/:id",class: "header__another-box__about" do
        %span<>
        about us

    .header__another-box__link 
      = link_to "history" ,class: "header__another-box__link" do
        %span<>
        history
    .header__another-box__introduction 
      = link_to "introduction",class: "header__another-box__introduction" do
        %span<>
        introduction
    .header__another-box__contact 
      = link_to "contact",class: "header__another-box__contact" do
        %span<>
        contact
    

.consumer-box1
  .title-box3
    = image_tag '55908.jpg',  height: '500px', width: '800px' ,class: "toph"
  .contents2
    history


.main1-box
  .nine-box
    = image_tag 'about.jpg', alt: 'c', class: 'image-9'
      
    .contents 
      %h1<9期生 主な実績
      ・第5回全国大学生マーケティングコンテスト関東予選出場
      %br・第6回全国大学生マーケティングコンテスト関東予選突破
      ・第6回全国大学生マーケティングコンテスト３位
      %br ・concom2016予選突破
      ・法政大学懸賞論文 6本入選
      %br ・卒業論文7本執筆

  .nine-box
    .contents
      %h1<10期生 主な実績
      ・第5回全国学生英語プレゼンテーションコンテスト予選突破
      %br・データ分析に基づいたマーケティング戦略立案コンテスト2018 2位
      ・concom2016 予選突破
      %br・concom2017 優勝
      ・法政大学懸賞論文7本入選
      %br ・卒業論文8本執筆
    = image_tag '10期_1.jpg', alt: 'c', class: 'image-10'
    

  .eleven-box
    = image_tag 'S__95313936.jpg', alt: 'c', class: 'image-11'
    .contents11
      %h1<11期生 主な実績
      %br・concom2017 優勝
      ・concom2018 優勝
      %br・法政大学懸賞論文 5本入選
      ・卒業論文10本執筆

  .nine-box
    .contents
      %h1<12期生 主な実績
      %br・concom2018 優勝
      ・concom2019 優勝
      %br・法政大学懸賞論文 6本入選
      現在活躍中
    = image_tag 'S__95313929.jpg', alt: 'c', class: 'image-12'

  .eleven-box
    = image_tag '13期.jpg', alt: 'c', class: 'image-13'
    .contents11
      %h1<13期生 主な実績
      ・concom2019 優勝
      %br 現在活躍中
    



.footer copyright©2019 法政大学社会学部 諸上ゼミナール all rights reserved powered by Atsushi iida.


:javascript
  src="scrollreveal.min.js"
  window.sr = ScrollReveal({ reset: true ,mobile: true});
  sr.reveal('.contents2',{ origin: 'bottom' , distance: '50%', duration: 2000 , scale: 0.8, delay :0 ,opacity: 0});