


.header
  .header__logo 

    = link_to image_tag("logo1.jpg",class: "header__logo"), root_path
    
  
  .header__another-box
    .header__another-box__about 
      = link_to "/front/:id", class: "header__another-box__about" do
        %span<>
        about us

    .header__another-box__link 
      = link_to "history" ,class: "header__another-box__link" do
        %span<>
        history
    .header__another-box__introduction 
      = link_to "introduction",class: "header__another-box__introduction" do
        %span<>
        introduction
    .header__another-box__contact 
      = link_to "contact",class: "header__another-box__contact" do
        %span<>
        contact
    

.consumer-box1
  .title-box2
  .contents2
    contact
.main-box

  .contact-box
    %h1
      contact
    メールでのお問い合わせ先は
    %span<acc.morokami@gmail.com
    です。
    %br

    諸上ゼミtwitterアカウントは
    = link_to "@morozemi_hosei", "https://twitter.com/morozemi_hosei"
    です。
    %br
    %br

    %h1 selection
    
    入ゼミに関するご質問は
    %span<morozemi14th@gmail.com
    までメールをお願いします。
    %br
   
    入ゼミ・ゼミ選考に関する情報は
    %br
    = link_to "諸上ゼミ15期生選考ページ",new_contact_path,class:"task"
    %br
      で更新していきます。


  .link-box
    %h1
      link
    = link_to "・法政大学","http://www.hosei.ac.jp/",class:"links"
    %br
    = link_to "・法政大学社会学部","http://www.hosei.ac.jp/shakai/index.html",class:"links"
    
    %br
    = link_to "・法政大学懸賞論文","https://www.hosei.ac.jp/campuslife/katsudo/kensho/?auth=9abbb458a78210eb174f4bdd385bcf54",class:"links"
    
    %br
    = link_to "・concom","https://concom.tokyo",class:"links"
    
    %br
    = link_to "・MCJ","https://www.facebook.com/pg/MCJ-Marketing-Competition-Japan-193621717375325/posts/?ref=page_interna",class:"links"
    
    %br
    = link_to "・ローザ特殊化粧料","https://www.eco-cosmejp.com",class:"links"



:javascript
  src="scrollreveal.min.js"
  window.sr = ScrollReveal({ reset: true ,mobile: true});
  sr.reveal('.contents2',{ origin: 'bottom' , distance: '50%', duration: 2000 , scale: 0.8, delay :0 ,opacity: 0});